.not-found{
    background-color: #343837;
    min-height: calc(100vh - 120px);
     span{
            color: #F75145;
            font-size: 2.5rem;
            font-weight: bold;
        }
    .title{
       
        padding: 1rem;
        color: white;
        font-size: 2rem;
    }
    .image-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
        width: 400px;
    }   
    }
}