<header class="header">
  <button
    class="logo"
    mat-icon-button
    [routerLink]="['/post']"
    routerLinkActive="router-link-active"
  >
    <img src="../../assets/images/blogLogo.png" alt="" />
  </button>
  <div class="link-row">
    <button
      *ngIf="!userIsConnect"
      mat-button
      color="primary"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      login
    </button>
    <button
      *ngIf="!userIsConnect"
      mat-button
      color="primary"
      [routerLink]="['/sign-up']"
      routerLinkActive="router-link-active"
    >
      Sign up
    </button>
    <button
      *ngIf="userIsConnect"
      mat-button
      (click)="logout()"
      color="primary"
      routerLinkActive="router-link-active"
    >
      Logout
    </button>
    <button
      *ngIf="userIsConnect"
      mat-button
      color="warn"
      [routerLink]="['/post/create']"
      routerLinkActive="router-link-active"
    >
      new post
    </button>
  </div>
</header>
