<header class="header">
  <div>
    <a
      class="logo"
      mat-icon-button
      [routerLink]="['/post']"
      routerLinkActive="router-link-active"
    >
      <img src="../../assets/images/blogLogo.png" alt="Blog logo" />
    </a>
    <a
      mat-button
      color=""
      [routerLink]="['/about']"
      routerLinkActive="router-link-active"
    >
      About me
    </a>
  </div>
  <div class="link-row">
    <a
      *ngIf="!userIsConnect"
      mat-button
      color="primary"
      [routerLink]="['/post']"
      routerLinkActive="router-link-active"
    >
      Timeline
    </a>
    <a
      *ngIf="!userIsConnect"
      mat-button
      color="primary"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      Login
    </a>
    <a
      *ngIf="!userIsConnect"
      mat-button
      color="primary"
      [routerLink]="['/sign-up']"
      routerLinkActive="router-link-active"
    >
      Sign up
    </a>
    <a
      *ngIf="userIsConnect"
      mat-button
      (click)="logout()"
      color="primary"
      routerLinkActive="router-link-active"
    >
      Logout
    </a>
    <a
      *ngIf="userIsConnect"
      mat-button
      color="warn"
      [routerLink]="['/post/create']"
      routerLinkActive="router-link-active"
    >
      New post
    </a>
  </div>
</header>
