.login-container{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    .image-container{
        width: 100%;
        img{
            width: inherit;
        }
    }
    @media (max-width:780px) {
        margin: 0 10px;
        .grid-item:nth-child(1) { order: 2; }
        grid-template-columns: 1fr;
        .image-container{
            width: 80%;
            justify-content: center;
            display: flex;
        }
    }
    .title{
        text-align: center;
        font-weight: 600;
        color: #235789;
    }
    .form-container{
        width: 80%;
    }
}