textarea {
	border-color: #dae4eb;
	color: #dae4eb;
}

.post-body {
    width: 400px;
    height: 200px;
    color: black;
    margin: 0 0 20px 0;
}

.post-header {
    height: 45px;
    width: 400px;
    //
    background-color: #2e3641;
    text-align: center;
}

.format-bar {
    height: 45px;
    width: 400px;
}