
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blog-app-primary: mat-palette($mat-indigo);
$blog-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blog-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$blog-app-theme: mat-light-theme($blog-app-primary, $blog-app-accent, $blog-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($blog-app-theme);

/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
.btn {
    border:none;
    display: inline-block;
    line-height: 35px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #221d23cc;
    color: #ffffff;
    text-align: center;
    width: 120px;
    line-height: 45px;
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    -ms-transition: background .5s ease-out;
    transition: background .5s ease-out;

    &:hover{
        text-decoration: none;
        background: #221D23;
    }
   
    &--secondary{
        background: #235789ab;
        &:hover{
           background: #235789;
        }
    }
    &--danger{
        margin-left: 0.5rem;
        background: #f97e76;
        &:hover{
            background: #F75145;
        }

    }
    &--block{
        margin: 0;
        width: 100%;
    }
     &:disabled{
        background-color: #C3C3C3;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
