<div class="posts__container">
  <div *ngIf="postsList.length > 0; else postsEmpty">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let post of postsList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ post.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ post.body }}</p>
        <mat-action-row>
          <button
            [routerLink]="['/post/edit', post.id]"
            class="btn btn--secondary"
          >
            EDIT
          </button>
          <button (click)="deletePost(post.id)" class="btn btn--danger">
            DELETE
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <ng-template #postsEmpty>
    <h1>Sorry, No posts today</h1>
  </ng-template>
</div>
