.posts__container{
    padding-bottom: 1rem;
}
.bold{
    font-weight: 500;
}
.image_container{
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    img{
         width: 300px;
    }
}